body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
nav li{
    padding-right: 64px;
}
nav a{
    color: black;
    font-weight: 600;
}
nav .navbar-toggler{
    background-color: white;
    border: solid 4px #E20000;
    color: #E20000;
}
nav .activePage{
    border: solid 1px #E20000;
    border-radius: 24px;
}
h1{
    color: #E20000;
    font-weight: 800;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
    font-weight: 800;
}
h4{
    font-size: 16px;
    font-weight: 800;
}
p{
    color: #6A6A6A;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
footer a{
    color: white;
}
footer i{
    font-size: 32px;
    color: white;
}
footer .fa-whatsapp{
    background-color: #370a6d;
    color: white !important;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding-top: 12px;
    width: 64px;
    height: 64px;
}
footer .text-right{
    text-align: right;
}
.btn{
    background-color: #E20000;
    color: white;
    border-radius: 24px;
    padding: 4px 24px;
}
.btn:hover{
    background-color: #370A6D;
    color: white !important;
}

/* Inicio */

#index{
    background-color: #f71515;
    background-image: url(../pictures/index-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#index main{
    height: 66.5vh;
}
#index .profileContainer{
    max-width: max-content;
    margin: auto;
}
#index h2{
    color: white;
    border: 4px solid white;
    border-radius: 16px;
    padding: 8px 24px;
}
#index .buttonContainer{
    max-width: max-content;
    margin: auto;
}
#index .proyectsButton{
    width: 208px;
    height: 40px;
    background-color: white;
    border-radius: 24px;
    color: #370a6d;
    font-weight: 800;
}
#index .proyectsButton:hover{
    background-color: #370A6D;
    color: white;
}


/* Sobre mí */

#me{
    background-image: url(../pictures/proyects-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#me header i{
    font-size: 48px;
    color: #E20000;
}
#me header .btn{
    padding: 8px 24px !important;

}
#me .pictureProfile{
    display: block;
    margin: auto;
    max-width: max-content;
    height: 320px;
    border: 12px solid white;
    border-radius: 50%;
}
#me .knowledgesSection{
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
}
#me .knowledgesSection h2{
    color: white;
}
#me .knowledgesSection img{
    height: 64px;
}
#me .card{
    height: 184px;
}
#me .apacheIcon{
    width: 120px;
}
#me .skillsSection{
    background-color: #EEEEEE;
}
#me .skillContainer{
    background-color: white;
    width: 560px;
    border-radius: 16px;
}
#me .skillContainer i{
    color: white;
    font-size: 80px;
    display: block;
    margin: auto;
    max-width: max-content;
}
#me .iconSkillContainer{
    background-color: #370A6D;
    height: 160px;
    border-radius: 16px;
}
#me .experienceContainer{
    background-color: white;
    width: 560px;
    border-radius: 16px;
}
#me .experienceSection i{
    color: #370A6D;
    font-size: 64px;
    display: block;
    margin: auto;
    max-width: max-content;
}
#me .experienceSection h4{
    color: #370A6D;
}
#me .experienceSection .workDescription{
    height: 96px;
    overflow: auto;
}
#me .experienceSection .btn{
    background-color: #370A6D;
}
#me .experienceSection .btn:hover{
    background-color: #E20000;
}
#me .studiesSection{
    background-color: #EEEEEE;
}
#me .studiesContainer{
    background-color: white;
    width: 560px;
    border-radius: 16px;
}
#me .studiesSection i{
    color: #E20000;
    font-size: 64px;
    display: block;
    margin: auto;
    max-width: max-content;
}
#me .studiesSection h4{
    color: #E20000;
}
#me .studiesSection .studieDescription{
    height: 96px;
    overflow: auto;
}
#me .studiesSection .btn{
    background-color: #E20000;
}
#me .studiesSection .btn:hover{
    background-color: #370A6D;
}
#me footer{
    background-color: #EEEEEE;
}
#me footer i{
    color:#E20000;
}
#me footer a{
    color: #E20000;
}

/* Página de Proyectos */

#proyects{
    background-image: url(../pictures/proyects-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#proyects .card{
    border-radius: 16px;
}
#proyects .card p{
    height: 80px;
}
#proyects img{
    height: 160px;
}
#proyects h2{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}
#proyects .colorGradiente{
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
}
#proyects main .btn{
    text-transform: uppercase;
}
#proyects .colorLink{
    color: #E20000;
    float: right;
    margin: 4px 0px;
    text-transform: uppercase;
    font-weight: 500;
}
#proyects footer i{
    color:#E20000;
}
#proyects footer a{
    color: #E20000;
}

/* Página de Contacto */

#contact{
    background-color: #f71515;
    background-image: url(../pictures/contact-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact main{
    height: 66.5vh;
}
#contact input{
    border-radius: 16px;
}
#contact textarea{
    border-radius: 16px;
    height: 160px;
    resize: none;
}
#contact .whiteContainer{
    background-color: white;
    border-radius: 8px;
    width: 180px;
    height: 40px;
}
#contact .submitButton{
    width: 160px;
    height: 40px;
    background-color: white;
    border-radius: 24px;
    color: #370a6d;
    font-weight: 500;
    float: right;
}
#contact .submitButton:hover{
    background-color: #370A6D;
    color: white;
}

/* Escritorios */

@media (min-width: 576px){
    footer .text-sm-left{
        text-align: left !important;
    }
    #index section{
        position: relative;
        top: 472px;
    }
    #proyects main{
        height: 66.5vh;
    }
    #proyects .proyectsContainer{
        max-width: 33.3333%;
    }
}

/* Móviles */

@media (max-width: 576px){
    footer .text-center{
        text-align: center;
    }
    #contact{
        background-color: white;
        background-image: url(../pictures/proyects-background.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #contact .whiteContainer{
        background-color: #E20000;
        color: white;
    }
    #contact .submitButton{
        background-color: #E20000;
        color: white;
    }
    #contact footer i{
        color:#E20000;
    }
    #contact footer a{
        color: #E20000;
    }
}
